

#matrix {
	display: flex;
    position: fixed;
    z-index: -1;
}

.default {
  color: #ffffff;
  background-color: #1d303d;
  margin-bottom: 2px;
  padding:12px;
}

.default h2 {
    color: yellow;
}

#profileTab{
    background: red;
    margin: 0 auto;
    text-align: center;  
}

@-moz-keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

@-webkit-keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

.intro {
    width: 100%;
    background-color: #A98F6E;
    /*background-image: url('../Images/cloud-body-thumb-615x300-64647.jpg');*/
    background-position: 0px 0px;
    background-image: url('../Images/10-cloud-png-image-thumb.png');
    background-repeat: repeat-x; 
    animation: animatedBackground 45s linear infinite;
}

/*Matrix rain effect*/
canvas {
    display: block;
    background-color: #060619;
    }


#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:100px;   
   background:red;
}

.tech img {
    max-width: 120px;
    height: auto;
    display: inline-grid;
    padding: 10px;
    margin: 5px;
}

/*Begin carousel*/
#myCarousel{
    min-height: 25%;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 45%;
      margin: auto;
  }
/*end carousel*/

/*tooltip*/ 
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}


/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/*END TOOLTIP*/

/*#myelement {
    width: 100%;
    margin: 0 auto;
}*/

#centre {
    display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    flex-direction: column;
	align-items:center;
    justify-content: center;
    background-color: rgb(255, 235, 205);
    height: 100%;
}

#projects {
    background-color:#f0f8ff;
    padding: 10px;
    color: black;
    padding: 25px;
}



 /*BEGIN Contact modal*/

 .modal-content {
     background-color: steelblue;
     
 }

 #contact{
     width: 70%;
     margin:0 auto;
 }
 #contact .input{
     width: 70%;
     padding: 5px;
     margin:0 auto;
 }

 /*END Contact modal*/

 /* Main content */

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 50px;
  text-align: justify;
  height: 100%;
}
footer {
  padding: 30px 0;
  text-align:right;
  background-color: azure;
}

.sidebar-offcanvas{
margin: auto;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
      
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -60%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -60%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 60%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 60%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 60%; /* 6 columns */
  }
}

/* change table hover colour */

.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
  background-color: #555;
  color:#eeeeee;
}

/* add border to tabs for visibility */
.border {
    border: groove 2px white;
}

.item:hover{
    background-color: #657176;
}